<%- include('partials/header') -%>
<section class="edit">
  <div class="container">
    <h2>Edit Your Profile!</h2>

    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form class="card-body" action="/edit/editProfile/<%= person %>?_method=PUT" method="POST">
            
            <!-- <div class="form-control">
              <label for="image" class="sr-only">Image</label>
              <input type="file" class="input w-full max-w-xs" id="image" name="file">
            </div> -->

            <div class="form-control">
              <label for="userName" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="userName" value="<%= userName %>" name="userName" placeholder="UserName" class="input input-bordered" />
            </div>
            
            <div class="form-control">
              <label for="country" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="country" value="<%= country %>" name="country" placeholder="country" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="city" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="city" value="<%= city %>" name="city" placeholder="city" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="campus" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="campus" value="<%= campus %>" name="campus" placeholder="campus" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="sex" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="sex" value="<%= sex %>" name="sex" placeholder="sex" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="twitter" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" value="<%= twitter %>" id="twitter" name="twitter" placeholder="twitter" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="linkedIn" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" value="<%= linkedIn %>" id="linkedIn" name="linkedIn" placeholder="LinkedIn" class="input input-bordered" />
            </div>

            <div class="form-control">
              <label for="mobile" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" value="<%= mobile %>" id="mobile" name="mobile" placeholder="Mobile" class="input input-bordered" />
            </div>

            <!-- <div class="form-control">
              <label for="desc" class="label">
                <span class="label-text">User Name</span>
              </label>
              <input type="text" id="desc" name="desc" placeholder="Description" class="input input-bordered" />
            </div> -->
            
            <div class="form-control">
              <label for="desc" class="label">
                <span class="label-text">Description</span>
              </label>
              <textarea class="textarea textarea-bordered" id="desc" name="desc"><%= desc %></textarea>
            </div>

            <div class="form-control mt-6">
              <button class="btn btn-primary">Save Edit</button>
            </div>

          </form>
        </div>
      </div>
    </div>

</section>


<%- include('partials/footer') -%>
